# Default ignored files
/../../../Patrones de Diseño/patrones-diseno/.idea/shelf/
/../../../Patrones de Diseño/patrones-diseno/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../Patrones de Diseño/patrones-diseno/.idea/httpRequests/
# Datasource local storage ignored files
/../../../Patrones de Diseño/patrones-diseno/.idea/dataSources/
/../../../Patrones de Diseño/patrones-diseno/.idea/dataSources.local.xml
